### Zadanie 5

Wykonaj z pomocą pythona kilka pierwszych zapytań z zadania 1.

Jeżeli do tego miejsca wciąż nie masz utworzonej bazy `company.db` to, aby ją utworzyć wykonaj w terminalu, w katalogu w którym znaduje się ten notatnik komendę:
<pre><code>python setup_company_db.py</code></pre>

In [1]:
from sqlite3 import connect

In [2]:
# A. Wyświetl imiona i nazwiska wszystkich pracowników
stmt = "SELECT first_name, last_name FROM employee"

with connect('company.db') as cnx:
    cursor = cnx.cursor()
    
    cursor.execute(stmt)
    result = cursor.fetchall()

print(result)

[('Alice', 'Smith'), ('Bob', 'Johnson'), ('Charlie', 'Williams'), ('David', 'Brown'), ('Emma', 'Jones'), ('Frank', 'Garcia'), ('Grace', 'Martinez'), ('Hannah', 'Rodriguez'), ('Ivy', 'Lopez'), ('Jack', 'Wilson'), ('Karen', 'Davis'), ('Liam', 'Martinez'), ('Mia', 'Hernandez'), ('Noah', 'Moore'), ('Olivia', 'Taylor'), ('Paul', 'Anderson'), ('Quinn', 'Thomas'), ('Rachel', 'White'), ('Sam', 'Harris'), ('Tina', 'Clark'), ('Uma', 'Lewis'), ('Victor', 'Walker'), ('Wendy', 'Hall'), ('Xander', 'Young'), ('Yara', 'King'), ('Zach', 'Scott')]

In [3]:
# B. Wyświetl imiona i nazwiska pracowników, którzy pracują w dziale 'Engineering'
stmt = "SELECT first_name, last_name FROM employee WHERE department = 'Engineering'"

with connect('company.db') as cnx:
    cursor = cnx.cursor()
    
    cursor.execute(stmt)
    result = cursor.fetchall()

print(result)

[('Alice', 'Smith'), ('Frank', 'Garcia'), ('Jack', 'Wilson'), ('Olivia', 'Taylor'), ('Rachel', 'White'), ('Victor', 'Walker')]

In [4]:
# C. Wyświetl imiona i nazwiska oraz wynagrodzenia pracowników, którzy zarabiają więcej niż 70,000
stmt = "SELECT first_name, last_name, salary FROM employee WHERE salary > 70000"

with connect('company.db') as cnx:
    cursor = cnx.cursor()
    
    cursor.execute(stmt)
    result = cursor.fetchall()

print(result)

[('Bob', 'Johnson', 80000.0), ('Emma', 'Jones', 75000.0), ('Frank', 'Garcia', 85000.0), ('Jack', 'Wilson', 90000.0), ('Liam', 'Martinez', 71000.0), ('Noah', 'Moore', 80000.0), ('Paul', 'Anderson', 78000.0), ('Quinn', 'Thomas', 74000.0), ('Sam', 'Harris', 82000.0), ('Victor', 'Walker', 88000.0), ('Zach', 'Scott', 77000.0)]

In [5]:
# D. Wyświetl imiona i nazwiska oraz wiek pracowników, którzy mają mniej niż 30 lat
stmt = "SELECT first_name, last_name, age FROM employee WHERE age < 30"

with connect('company.db') as cnx:
    cursor = cnx.cursor()
    
    cursor.execute(stmt)
    result = cursor.fetchall()

print(result)

[('Charlie', 'Williams', 25), ('David', 'Brown', 28), ('Hannah', 'Rodriguez', 29), ('Karen', 'Davis', 27), ('Mia', 'Hernandez', 26), ('Olivia', 'Taylor', 29), ('Rachel', 'White', 28), ('Wendy', 'Hall', 27), ('Yara', 'King', 25)]

In [6]:
# E. Wyświetl imiona i nazwiska pracowników zatrudnionych po 1 stycznia 2019 roku
stmt = "SELECT first_name, last_name FROM employee WHERE hire_date > '2019-01-01'"

with connect('company.db') as cnx:
    cursor = cnx.cursor()
    
    cursor.execute(stmt)
    result = cursor.fetchall()

print(result)

[('Alice', 'Smith'), ('Charlie', 'Williams'), ('David', 'Brown'), ('Grace', 'Martinez'), ('Hannah', 'Rodriguez'), ('Karen', 'Davis'), ('Mia', 'Hernandez'), ('Olivia', 'Taylor'), ('Rachel', 'White'), ('Tina', 'Clark'), ('Wendy', 'Hall'), ('Yara', 'King')]